<div class="index-demos">

  <%= render "assets/header" %>
  <%= flash[:upload] %>
  
  <div style="text-align:center">
    <p class="alternate" style="text-align:center">
      <big>Clique com o botão direito do mouse e selecione <b>Salvar arquivo como...</b></big>
    </p>
    Estamos resolvendo o problema onde o demo é aberto no navegador em vez de baixar diretamente
    <br/>
    <br/>
  </div>
  <br/>

  <% if current_user %>
    <div class="dark-box asset-upload rounded_4" style="display:none">
      <h3>Adicionar demo</h3>
      <% form_for @demo, :html => { :multipart => true } do |f| %>
        <p><%= f.file_field :data %></p>
        <p>
          <%= f.label :title, "Título", :class => "smooth" %><br/>
          <%= f.text_field :title, :style => "width:100%" %>
        </p>
        <p>
          <%= f.label :description, "Descrição", :class => "smooth" %><br/>
          <%= f.text_area :description %>
        </p>
        <p style="float:left"><%= link_to_function "Cancelar", :id => "cancel-upload" %></p>
        <p style="text-align:right"><%= f.submit "Enviar", :class => "awesome blue" %></p>
      <% end %>
    </div>
    <div class="new-asset-button">
      <%= link_to_function "Adicionar demo", :id => "new-demo", :class => "awesome medium blue" %>
    </div>
  <% else %>
    <div class="hint" style="text-align:center">
      Você precisa <%= link_to "logar", new_user_session_path %> para efetuar upload de demos
    </div>
    <br/>
  <% end %>

  <% if @demos.any? %>
    <table class="list">
      <% for demo in @demos %>
        <tr>
          <td>
            <span class='title'><%= link_to demo.title, demo.data.url %></span><br/>
            <span class='hint'><%= demo.description %></span>
          </td>
          <td class='size'><%= (demo.data_file_size || 0) / 1000 %> kb</td>
          <td class='user'>
            <%= link_to demo.user.name, user_path(demo.user) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

</div>


<script language="javascript">

  $("#new-demo").click(function() {
    $(".asset-upload").toggle(); 
  });
  $("#cancel-upload").click(function() {
    $(".asset-upload").hide(); 
  });

</script>