<%= link_to "â† retornar", back_path_or(demos_path) %>

<div class="show-image" style="width:100%">

  <h2><%= @demo.title %></h2>
  <p style="margin-top:-15px">
    <span class="with-serif smooth">Por </span>
    <b><%= link_to @demo.user.name, user_path(@demo.user) %></b>
  </p>
  <br/>
  <br/>

  <div class="chat">
    <h3>Chat</h3>
    <% for chat in @demo.chats %>
      <p><%= format_chat(colorize(chat)) %></p>
    <% end %>
    <br/>
  </div>

  <div style="display:inline-block; width:450px">
    <div style="float:left">
      <%= link_to image_tag(@demo.map.image.url(:thumb), :class => "nice-border"), map_path(@demo.map) %><br/>
      <span class="smooth"><%= @demo.map.name %></span>
    </div>
    <h3><%= colorize @demo.server_name %></h3>
    <p style="margin-left:130px; text-align:left"><%= @demo.description %></p>
    <br/>
    <br/>

    <%= render "layouts/comments", :model => @demo %>
    
  </div>

</div>

<!-- <h3>Detalhes</h3>
<table>
  <% @demo.config.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table> -->
