<%= link_to "â† retornar", back_path_or(demos_path) %>

<div class="show-image" style="width:100%">

  <h1><%= @demo.title %></h1>
  <p style="margin-top:-15px">
    <span class="with-serif smooth">Por </span>
    <b><%= link_to @demo.user.name, user_path(@demo.user) %></b>
  </p>
  <br/>
  <%= render @demo, :download => true %>
  <br/>
  
  <table class="columns">
    <tr>
      <td>
        <a name='comment'>&nbsp;</a>
        <%= render "layouts/comments", :model => @demo %>
      </td>
      <td style="padding-left:10px">
        <h2 style="font-size:16px; margin-top:30px">Chat</h2>
        <% for chat in @demo.chats %>
          <p><%= format_chat(colorize(chat)) %></p>
        <% end %>
      </td>
    </tr>
  </table>
  
</div>

<!-- <h3>Detalhes</h3>
<table>
  <% @demo.config.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table> -->
