<h2>Mapas</h2>

<h3 class="submenu">
  <%= link_to "Listagem", maps_path, :class => @menu == :map_list ? "selected" : nil %>
  <%= link_to "Miniaturas", thumbs_maps_path, :class => @menu == :map_thumbs ? "selected" : nil %>
</h3>

<p><b><%= @maps.size %></b> mapas no servidor Terra</p>
<table>
  <% @maps.each_with_index do |map, i| %>
    <tr>
      <td>
        <span class="with-serif smooth"><%= i + 1 %></span>
        <%= link_to map.name, map_path(map) %>
        <% if map.comments.any? %>
          (<span class="hint"><%= map.comments.count %> comentário<%= map.comments.many? ? "s" : "" %>)</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
