<h2>Mapas</h2>

<h3 class="submenu">
  <%= link_to "Listagem", maps_path, :class => @menu == :map_list ? "selected" : nil %>
  <%= link_to "Miniaturas", maps_path, :class => @menu == :map_thumbs ? "selected" : nil %>
</h3>

<%= will_paginate @maps, :previous_label => " &nbsp; ← ", :next_label => " → &nbsp; ", :separator => "" %>

<div style="display:inline-block">
  <% @maps.each_with_index do |map, i| %>
    <% div_for map do %>
      <div class="name">
        <span class="with-serif smooth"><%= params[:page] ? i + (params[:page].to_i - 1) * 100 + 1 : i + 1%></span>
        <%= map.name %><br/>
        <small>
          <% if map.comments.any? %>
            <span class="hint"><small><%= map.comments.count %> comentário<%= map.comments.many? ? "s" : "" %></small></span>
          <% else %>
            <br/>
          <% end %>
        </small>
      </div>
      <%= link_to image_tag(map.image.url(:thumb)), map_path(map) %>
    <% end %>
  <% end %>
</div>

<%= will_paginate @maps, :previous_label => " &nbsp; ← ", :next_label => " → &nbsp; ", :separator => "" %>

