<h2>Mapas</h2>

<h3 class="submenu">
  <%= link_to "Listagem", maps_path, :class => @menu == :map_list ? "selected" : nil %>
  <%= link_to "Miniaturas", maps_path, :class => @menu == :map_thumbs ? "selected" : nil %>
</h3>

<%= will_paginate @maps, :previous_label => " &nbsp; â† ", :next_label => " â†’ &nbsp; ", :separator => "" %>

<div style="display:inline-block">
  <% @maps.each_with_index do |map, i| %>
    <% div_for map do %>
      <div class="name">
        <span class="with-serif smooth"><%= i + (params[:page].to_i - 1) * 100 + 1%></span>
        <%= map.name %>
      </div>
      <a href='<%= map.image.url(:thumb) %>'><img src='<%# map.thumb_link %><%= map.image.url(:thumb) %>'/></a>
    <% end %>
  <% end %>
</div>

<%= will_paginate @maps, :previous_label => " &nbsp; â† ", :next_label => " â†’ &nbsp; ", :separator => "" %>

