<%= f.error_messages :header_message => nil, :message => nil %>
<p>
  <%= f.label :name, "Nome" %> <span class='hint'>(exibido no site)</span><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :login, "Usuário" %> <span class='hint'>(utilizado no login)</span><br/>
  <%= f.text_field :login %>
</p>

<p>
  <%= f.label :email, "E-mail" %><br/>
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :password, "Senha" %><br/>
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password_confirmation, "Confirme a senha" %><br/>
  <%= f.password_field :password_confirmation %>
</p>

<p>
  <%= f.label :main_uid, "UID" %><br/>
  <%= f.text_field :main_uid %>
</p>


