<%= flash[:success] %>
<%= link_to "← página inicial", root_path %>
<div class="show-user">

  <h3 class='name'><%= @user.name %></h3>
  <div class="dark-box">

    <% if @user.last_login_at || @user.current_login_at %>
      <p style="text-align:center">
        <span>
          Último login foi <%= I18n.l @user.last_login_at || @user.current_login_at %><br/>
          (<%= distance_of_time_in_words_to_now(@user.last_login_at || @user.current_login_at) %> atrás)
        </span>
      </p>
    <% else %>
      <p class="hint">Usuário nunca fez login</p>
    <% end %>
  
  
    <% if @user.main_uid.present? %>
      <p>
        UID <%= @user.main_uid %> - 
        <%= link_to "estatísticas no site da Newerth",
                    "http://www.newerth.com/?id=stats&action=view&uid=#{@user.main_uid}&pp=&pk=" %>
      </p>
    <% else %>
      <p class="hint" style="text-align:center">Não possui UID</p>
    <% end %>
    
     <% if @user.demos.any? %>
      <h3><%= @user.demos.count %> <%= @user.demos.many? ? "demos" : "demo" %></h3>
      <ul>
        <% for demo in @user.demos %>
          <li><%# link_to demo.title, demo_path(demo) %><%= demo.title %></li>
        <% end %>
      </ul>
      <p style="margin-left:40px"><small><%= link_to "Ir à página de demos", demos_path %></small></p>
    <% end %>
  
    <% if @user.images.any? %>
      <h3><%= @user.images.count %> <%= @user.images.many? ? "imagens" : "imagem" %></h3>
      <div style="display:inline-block">
        <% for image in @user.images %>
          <div class="tiny-image"><%= link_to image_tag(image.image.url(:tiny)), image_path(image) %></div>
        <% end %>
      </div>
    <% end %>

    <p style="text-align:center">
      <% if current_user %>
        <%= mail_to @user.email %>
      <% else %>
        <span class="hint">E-mail apenas apresentado à usuários registrados</span>
      <% end %>
    </p>

  </div>

</div>