<div class="sidebar">
  <% if current_user %>
    <div class="dark-box rounded_4 badge">
      <div style="float:right">
        <%= link_to "configurações", current_user_path %> | 
        <%= link_to "sair", user_session_path, :method => :delete %>
      </div>
      <b><%= current_user.login %></b> 
    </div>
  <% else %>
    <div class="dark-box pretty rounded_4 login-box">
      <% form_for @user_session, :url => "/user_session" do |f| -%>
        <%= f.error_messages :message => nil, :header_message => nil %>
        <p> <%= f.label :login, "Usuário" %>  <%= f.text_field :login %> </p>
        <p> <%= f.label :password, "Senha" %> <%= f.password_field :password %></p>
        <p style="float:right"><%= f.submit "Entrar", :class => "awesome medium" %></p>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembrar", :style => "padding-top:2px" %></p>
      <% end -%>
    </div>
  <% end %>
  
  <div class="shout">
    <h2>Mural</h2>
    <%= error_messages_for :shout, :message => nil, :header_message => nil %>
    <% for shout in @shouts %>
      <p><%= link_to shout.user.name, user_path(shout.user), :class => "user" %> <%= shout.content %></p>
    <% end %>
    <% if current_user %>
      <% form_for @shout do |f| %>
        <%= f.text_area :content %><br/>
        <p><%= f.submit "Postar", :class => "awesome medium", :style => "float:right" %>
      <% end %>
    <% else %>
      <span class="hint">Você deve se logar para postar no mural</span>
    <% end %>
  </div>
</div>

<div class="">
  <h2>Bem-vindo ao site Savage Brasil!</h2>
  
</div>

<p><%= link_to "Assinar", new_user_path, :class => "awesome large blue" %></p>