<div class="sidebar">
  <%= flash[:login] %>
  
  
  <% if current_user.nil? %>
    <div class="sign-up rounded_4">
      <h2>Cadastre-se no<br/> <big>Savage Brasil!</big></h2>
      <p style="text-align:center">
        <%= link_to "Cadastrar", new_user_path, :id => "new-user-button", :class => "awesome large" %>
      </p>
    </div>
  <% end %>

  <h2>Mural</h2>
  <div class="box rounded_4 shout">
    <%= flash[:shout] %>
    <%= error_messages_for :shout, :message => nil, :header_message => nil %>
    <% for shout in @shouts %>
      <p>
        <%= link_to shout.user.name, user_path(shout.user), :class => "user" %> <%= shout.content %>
        <% if shout.user == current_user %>
          <small><%= link_to "(excluir)", shout_path(shout), :class => "delete-link", 
                                                             :method => :delete, 
                                                             :confirm => "Excluir o post?" %></small>
        <% end %>
      </p>
    <% end %>
    <p style="text-align:center; font-size:11px"><%= link_to "Ver posts antigos", shouts_path %></p>
    <% if current_user %>
      <% form_for @shout do |f| %>
        <%= f.text_area :content %><br/>
        <p><%= f.submit "Postar", :class => "awesome medium", :style => "float:right" %></p>
        <br/>
      <% end %>
    <% else %>
      <div class="hint" style="text-align:center">Você deve logar para postar no mural</div>
    <% end %>
  </div>
  
</div>

<div class="post">
  <h1><span>Bem-vindo ao site</span> Savage Brasil !</h1>
  <p><strong><span class='alternate'>NOVO! </span> Área para upload de <%= link_to "demos", demos_path %> !</strong></p>
  <p>O site Savage Brasil inaugura com a área de <%= link_to "tutoriais", tutorials_path %>, contendo uma lista dos comandos mais utilizados no Savage, além de links de tutoriais para iniciantes, e com a <%= link_to "galeria", assets_path %>. Na galeria é possível fazer upload de screenshots do jogo ou de qualquer outra imagem (usar com moderação :) )</p>
  <p>Estão planejados vários outros serviços (e tutoriais para iniciantes e jogadores experientes) para o Savage Brasil. <strong>Aproveite e faça o cadastro!</strong></p>
</div>

