<table style="width:100%">
  <tr>
    <td class="events">
      <h2>Atividade</h2>
      <% for event in @events %>
        <div class="event">
          <span class="time with-serif smooth">
            <%= distance_of_time_in_words_to_now(event.created_at) %> atrás
          </span>
          <%= format_event(event) %>
        </div>
      <% end %>
    </td>
    <td class="sidebar">
      <%= flash[:login] %>
      <% if current_user.nil? %>
        <div class="sign-up rounded_4">
          <h2>Cadastre-se no<br/> <big>Savage Brasil!</big></h2>
          <p style="text-align:center">
            <%= link_to "Cadastrar", new_user_path, :id => "new-user-button", :class => "awesome large" %>
          </p>
        </div>
      <% end %>

      <h2>Mural</h2>
      <div class="box rounded_4 shout">
        <%= flash[:shout] %>
        <%= error_messages_for :shout, :message => nil, :header_message => nil %>
        <% for shout in @shouts %>
          <p>
            <%= link_to shout.user.name, user_path(shout.user), :class => "user" %> <%= shout.content %>
            <% if shout.user == current_user %>
              <small><%= link_to "(excluir)", shout_path(shout), :class => "delete-link", 
                                                                 :method => :delete, 
                                                                 :confirm => "Excluir o post?" %></small>
            <% end %>
          </p>
        <% end %>
        <p style="text-align:center; font-size:11px"><%= link_to "Ver posts antigos", shouts_path %></p>
        <% if current_user %>
          <% form_for @shout do |f| %>
            <%= f.text_area :content %><br/>
            <p><%= f.submit "Postar", :class => "awesome medium", :style => "float:right" %></p>
            <br/>
          <% end %>
        <% else %>
          <div class="hint" style="text-align:center">Você deve logar para postar no mural</div>
        <% end %>
      </div>
    </td>
  </tr>
</table>