<div class="index-assets">

  <%= render "assets/header" %>
  <%= render "assets/upload" %>

  <% for asset in @assets %>
    <span class="image-box">
      <p><span class='hint'>Postado por </span><%= link_to asset.user.name, user_path(asset.user) %></p>
      <p><%= link_to image_tag(asset.image.url(:thumb)), asset.image.url, :class => "image-link" %></p>
      <p><%= asset.description %></p>
    </span>
  <% end %>
</div>