<div class="dark-box pretty rounded_4 login-box">
  <% form_for @user_session, :url => "/user_session" do |f| -%>
    <%# f.error_messages :message => nil, :header_message => nil %>
    <%= flash[:login] %>
    <p> <%= f.label :login, "Usuário" %>  <%= f.text_field :login %> </p>
    <p> <%= f.label :password, "Senha" %> <%= f.password_field :password %></p>
    <p style="float:right"><%= f.submit "Entrar", :class => "awesome medium" %></p>
    <p><%= f.label :remember_me, "Lembrar", :style => "padding-top:2px" %><%= f.check_box :remember_me %> </p>
  <% end -%>
</div>
