<div class="comments">
  <% if model.comments.any? %>
    <h2 style="font-size:16px">Comentários</h2>
    <% for comment in model.comments %>
      <p><%= link_to comment.user.name, user_path(comment.user) %> <%= comment.message %></p>
    <% end %>
  <% else %>
    <p class="hint">Nenhum comentário</span>
  <% end %>
  
  <%= flash_message %>

  <% if current_user %>
    <div style="text-align:center"><%= link_to_function "Adicionar comentário", nil, :id => "add-comment-link" %></div>
    <div id="comment-box" style="display:none">
      <% form_for @comment do |f| %>
        <p><%= f.text_area :message %></p>
        <%= f.hidden_field :commentable_type, :value => model.class.to_s.downcase %>
        <%= hidden_field_tag :parent_id, model.id %>
        <div style="float:right"><%= f.submit "Comentar" %></div>
        <%= link_to_function "Cancelar", nil, :id => "cancel-comment-link" %>
      <% end %>
    </div>
  <% else %>
    <span class="hint">Você precisa estar logado para comentar</span>
  <% end %>
</div>

<script language="javascript">

  <% if flash[:comment_created] %>
    $(function() { window.location = "#comment"; });
  <% end %>

  $("#add-comment-link").click(function() {
    $(this).hide();
    $(".success").hide();
    $("#comment-box").show();
    $("#comment-box textarea").focus();
    window.location = "#comment";
  });
  
  $("#cancel-comment-link").click(function() {
    $("#comment-box").hide();
    $("#add-comment-link").show();
  });

</script>
